   <!-- base html template -->
<!DOCTYPE html>
<html>
    <head>
    <html lang="en">
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- custom stylesheet and font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='formatting.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  
     <!-- set page title -->
        <title>{{ title }}</title>
    </head>

    <body>
      <div>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #00786c;">
          <div class="container-fluid">
            <!-- toggle button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!-- links -->
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.index') }}"><img class="logo-icon" src="{{ url_for('static', filename='logo.png') }}" alt="brieviate logo with a block of cheese"></a></button>
                </li>
                {% if current_user.is_authenticated %}
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.new_rating') }}">New Rating</a></button>
                </li>
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.user_recommended') }}">Recommended Ratings</a></button>
                </li>
                {% endif %}
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.all_ratings') }}">All Ratings</a></button>
                </li>
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('cheeses.all_cheeses') }}">Cheeses</a></button>
                </li>
                {% if current_user.is_authenticated %}
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.user_profile') }}">Your Ratings</a></button>
                </li>
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('ratings.liked_ratings') }}">Liked Ratings</a></button>
                </li>
                <li class="navbar-item">
                {% endif %}
                {% if not current_user.is_authenticated %}
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></button>
                </li>
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></button>
                </li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="navbar-item">
                  <button> <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></button>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <style>
          @media (max-width: 576px) {
            .navbar-collapse {
              background-color: #00786c;;
              position: absolute;
              top: 100%;
              left: 0;
              width: 100%;
              z-index: 9999;
            }
          }
        </style>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <!--page content-->
        <div class="container-fluid">
          {% block content %}{% endblock %}
        </div>

    </body>
  </html>