   <!-- base html template -->
<!DOCTYPE html>
<html>
    <head>
    <html lang="en">
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- custom stylesheet and font -->
    <link rel="stylesheet" href="{{ url_for('static', filename='formatting.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
  
     <!-- set page title -->
        <title>{{ title }}</title>
    </head>

    <body>
      <div>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-dark">
          <div class="container-fluid">
            <!-- links -->
            <ul class="navbar-nav">
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.index') }}"><img class="logo-icon" src="static/logo.png" alt="brieviate logo with a block of cheese"></a></button>
              </li>
              {% if current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.new_rating') }}">New Rating</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.user_recommended') }}">Recommended Ratings</a></button>
              </li>
              {% endif %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.all_ratings') }}">All Ratings</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('cheeses.all_cheeses') }}">Cheeses</a></button>
              </li>
              <li class="navbar-item"><div class="spacer"></div></li>
              {% if current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.user_profile') }}">Your Ratings</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('ratings.liked_ratings') }}">Liked Ratings</a></button>
              </li>
              <li class="navbar-item">
              {% endif %}
              {% if not current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></button>
              </li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></button>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <!--page content-->
        <div class="container-fluid">
          {% block content %}{% endblock %}
        </div>

    </body>
  </html>