   <!-- base html template -->
<!DOCTYPE html>
<html>
    <head>
    <!-- required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="static/formatting.css">

   <!-- menu CSS -->
    <style>
    ul#menu li {
        display:inline;
      }
    </style>
  
     <!-- set page title -->
        <title>{{ title }}</title>
    </head>

    <body>
      <div>
        <!-- navigation bar -->
        <nav class="navbar navbar-expand-sm navbar-dark">
          <div class="container-fluid">
            <!-- links -->
            <ul class="navbar-nav">
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('views.index') }}">Home</a></button>
              </li>
              {% if current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('views.profile') }}">Profile</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('views.new_rating') }}">New Rating</a></button>
              {% endif %}
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('views.feed') }}">Feed</a></button>
              </li>
              <li class="navbar-item">
              {% if not current_user.is_authenticated %}
                <button> <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></button>
              </li>
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></button>
              </li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="navbar-item">
                <button> <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></button>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>

      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6IXHMdZRc6Uc5Jofs2XtkJwbIxIy1Tj+IIuW+0OksdQRVvoxMfooAo" crossorigin="anonymous"></script>

        <!--page content-->
        <div class="container-fluid">
          {% block content %}{% endblock %}
        </div>

    </body>
  </html>