<!-- page to edit rating -->
{% extends "base.html" %}
{% block content %}
<h1 class="page-title">Edit Rating</h1>
<div class="form-container container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group">
                <form class="main-form" action="/edit_rating_handler?id={{ id }}" method="POST" onsubmit="validateReviewForm()" name="edit_rating" autocomplete="off">
                    {{ form.hidden_tag() }}
                    <div class="form-group main-form">
                        {{ form.cheese(class="form-group select", placeholder=form.cheese.label.text) }}
                        {{ form.brand(class="form-group input", placeholder=form.brand.label.text) }}
                        <div class="rating-stars">
                            {{  form.rating.label }}
                            <span data-value="1">&#9733;</span>
                            <span data-value="2">&#9733;</span>
                            <span data-value="3">&#9733;</span>
                            <span data-value="4">&#9733;</span>
                            <span data-value="5">&#9733;</span>
                        </div>
                        <input type="hidden" id="rating-value" name="rating" value="{{ selected_rating }}">
                        <br><br>
                        {{ form.review (class="form-group textarea", placeholder=form.review.label.text, rows=5) }}
                    </div>
                    {{ form.submit (class="btn btn-success") }}
                </form>
            </div>
        </div>
    </div>
</div>

<script src="static/stars.js"></script>
{% endblock %}